:root {
    --gray: #9a9fa6;
    --light-gray: #dce1e8;
    --orange: #d35b2b;
    --blue: #223a54;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
img {
    font-size: 10px;
    color: white;
}
label {
    font-family: inherit;
    font-size: 16px;
}
h1 {
    margin-top: 2em;
}
p {
    line-height: 1.5em;
    margin-left: 0.25em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main {
    display: grid;
    place-items: center;
    height: 100vh;
}
.nav {
    margin: 0;
    padding: 1vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
    width: 50px;
    margin: 5px 15px 0 0;
}
.modal {
    padding: 3vh;
    border: 0.2em solid var(--blue);
    border-radius: 2em;
    background-color: white;
    z-index: 3;
    min-width: 20em;
}
.modal-bg {
    display: none;
    position: fixed;
    z-index: 2;
    place-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
}
.habit-table {
    border-spacing: .8em .3em;
    margin-left: -.8em;
}
.habit-table td:first-child {
    text-align: right;
    color: var(--blue);
}
.habit-table td:nth-child(2) {
    font-style: italic;
}
.container {
    height: 100vh;
    display: grid;
    grid-template: auto 1fr / minmax(180px, 23%) 1fr;
}
.grid-head {
    grid-column: 1 / 3;
}
.grid-main {
    grid-column: 2 / 3;
    padding: 0 10vw;
    background-color: var(--light-gray);
}
.grid-side {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10vh;
}
.grid-side a {
    text-decoration: none;
    color: var(--blue);
}
.grid-side li {
    padding: 0.3em 3vw;
}
.grid-side li:not(.spacer):hover {
    background-color: var(--light-gray);
}
.txt-in {
    padding: 1vh;
    margin: 1.5vh;
    border: 0.1em solid var(--gray);
    border-radius: 0.5em;
}
.txt-button,
.rect-button,
.border-button {
    border: none;
    border-radius: 1vh;
    padding: 0.5em 1em;
    margin-right: 2vw;
    font-size: 18px;
    font-family: inherit;
    outline: none;
}
.txt-button {
    background-color: transparent;
}
.txt-button:hover {
    background-color: #ffffff33;
}
.rect-button {
    background-color: var(--gray);
}
.circle-button {
    height: 25px;
    width: 25px;
    z-index: 1;
    margin-right: 1.5em;
    border: 2px solid var(--blue);
    border-radius: 100em;
    background-color: transparent;
    outline: none;
}
.border-button {
    border: 0.1em solid var(--gray);
    border-radius: 0.5em;
}
#today li {
    margin-bottom: 1.5em;
}
.habit {
    background-color: white;
    padding: 1em;
    border-radius: 0.7em;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.habit-type {
    margin-left: 3em;
}
.spacer {
    height: 6.25vh;
}
.spaced {
    height: 2.5em;
}
.huge {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 0.02em;
    color: var(--orange);
    text-transform: uppercase;
}
.big {
    font-size: 25px;
}
.med {
    font-size: 18px;
}
.smol {
    font-size: 12px;
}
.capital {
    text-transform: capitalize;
}
.underline {
    text-decoration: underline;
}
.strikethrough {
    text-decoration: line-through;
}
.white {
    color: white;
}
.gray {
    color: var(--gray);
}
.orange {
    color: var(--orange);
}
.blue {
    color: var(--blue);
}
.white-bg {
    background-color: white;
}
.gray-bg {
    background-color: var(--gray);
}
.orange-bg {
    background-color: var(--orange);
}
.blue-bg {
    background-color: var(--blue);
}
.center-hori {
    text-align: center;
}
.center-verti {
    display: flex;
    align-items: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.right {
    float: right;
}
