<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Habit Hammer</title>
	<link rel="icon" href="static/icon.png">
	<link rel="stylesheet" href="static/styles.css"/>
</head>
<body>
<div class="nav">
		<span class="center-verti big">
			<img src="static/icon.png" class="logo" alt="logo">
			Habit Hammer
		</span>
	<span>
		<button class="txt-button right white" onclick="window.location.href='/login'">Log In</button>
		<button class="rect-button right blue white-bg" onclick="window.location.href='/signup'">Sign Up</button>
	</span>
</div>

<div class="main gray-bg">
	<div class="med">
		<h1 class="blue">Why Habit Hammer?</h1>
		<p>Good question. IDK yet.</p>
	</div>
</div>
</body>
</html>
