<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Habit Hammer</title>
	<link rel="icon" href="static/icon.png">
	<link rel="stylesheet" href="static/styles.css"/>
</head>
<body>
<div class="nav">
		<span class="center-verti huge">
			<img src="static/icon.png" class="logo" alt="logo">
			Habit Hammer
		</span>
	<span>
		<button class="txt-button right white" onclick="window.location.href='/login'">Log In</button>
		<button class="rect-button right blue white-bg" onclick="window.location.href='/signup'">Sign Up</button>
	</span>
</div>

<div class="main">
	<div class="med" style="width: 40em;">
		<h1 class="blue">The Problem</h1>
		<p>Habit trackers are only good for one thing: tracking existing habits. Which is cool and all, but what if you want to start a new habit, or stop an old one? Trackers don’t help with that. In fact, they can be downright discouraging.</p>
		<p>Staring at a huge list of tasks leaves you feeling overwhelmed. When you inevitably miss a day, seeing that disappointing hole in your streak makes you want to just give up. To avoid those feelings of guilt and hopelessness, you can play it safe and only track established habits that you already do all the time, but what's the point of tracking those?</p>

		<h1 class="blue">The Solution</h1>
		<p><b>Habit Hammer</b> teaches you how to build and maintain a new habit, or break an old habit.</p>
		<button class="rect-button white blue-bg right" onclick="window.location.href='/app'">Get Started</button>
		<br><br><br>
	</div>
</div>
</body>
</html>
