<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Habit Hammer</title>
	<link rel="icon" href="static/icon.png">
	<link rel="stylesheet" href="static/styles.css"/>
</head>
<body>
<div class="container">
	<div class="nav grid-head">
		<span class="center-verti huge" onclick="console.log('return to main page'); //TODO">
			<img src="static/icon.png" class="logo" alt="logo">
			Habit Hammer
		</span>
		<span>
			<button class="txt-button right white" onclick="console.log('logout'); //TODO">Log out</button>
		</span>
	</div>
	<ul class="grid-side big white">
		<!--TODO pages + links-->
		<li><a href="/">Today</a></li><!--Today/Upcoming/To Do-->
		<li><a href="/">All</a></li>
		<div style="height: 6.25vh;"></div>
		<li><a href="/">New</a></li>
		<li><a href="/">+ Build</a></li>
		<li><a href="/">+ Break</a></li>
		<div style="height: 6.25vh;"></div>
		<li><a href="/">History</a></li><!--History/Stats-->
	</ul>
	<div class="grid-main">
		<h1>Today</h1>
		<ul>
			<!--TODO finish habit components-->
			<li><div class="habit">
				<button class="circle-button"></button>
				One
			</div></li>
		</ul>
	</div>
</div>
</body>
</html>
