<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Habit Hammer</title>
	<link rel="icon" href="static/icon.png">
	<link rel="stylesheet" href="static/styles.css"/>
</head>
<body>
<div class="nav">
	<span class="center-verti huge">
		<img src="static/icon.png" class="logo" alt="logo">
		Habit Hammer
	</span>
	<span>
		<button class="txt-button right white" onclick="window.location.href='/login'">Log In</button>
		<button class="rect-button right blue white-bg" onclick="window.location.href='/signup'">Sign Up</button>
	</span>
</div>

<div class="main">
	<div class="center-hori">
		<p class="huge">Use <b class="blue bold">Habit Hammer</b> to <i>build</i> or <i>break</i> habits!</p>
		<div>
			<button class="rect-button white blue-bg" onclick="window.location.href='/app'">Get Started</button>
			<button class="rect-button blue white-bg" onclick="window.location.href='/about'">Learn More</button>
		</div>
	</div>
</div>
</body>
</html>
