<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Habit Hammer</title>
	<link rel="icon" href="static/icon.png">
	<link rel="stylesheet" href="static/styles.css"/>
	<script src="static/script.js"></script>
</head>
<body>
	<div class="nav">
		<span class="center-verti big">
			<img src="https://cdn.glitch.com/48b2f324-cdb9-453b-a222-e263ed475ce3%2Ficon.png?v=1613858425977" class="logo" alt="logo">
			Habit Hammer
		</span>
		<span>
			<button class="txt-button right white">Log In</button>
			<button class="rect-button right blue white-bg">Sign Up</button>
		</span>
	</div>

	<div class="main">
		<div class="center-hori">
			<p class="med">Use <b class="blue bold">Habit Hammer</b> to <em>build</em> or <em>break</em> habits!</p>
			<div>
				<button class="rect-button white blue-bg">Get Started</button>
				<button class="rect-button blue white-bg">Learn More</button>
			</div>
		</div>
	</div>

</body>
</html>
